[submodule "data"]
	path = data
	url = git@github.org:audy/dipp-microbiome-study.git
[submodule "python/run-picrust/picrust"]
	path = python/run-picrust/picrust
	url = https://github.com/picrust/picrust.git
